:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-bg-color: rgb(255, 255, 255); 
    --blue-feature: rgb(33, 150, 243);
    --footer-bg-color: rgb(47, 48, 58);
    --main-txt-color: rgb(33, 33, 33);
    --white-txt:rgb(255, 255, 255);
    --footer-txt-contact: rgba(255, 255, 255, 0.6);
    --main-grey: rgb(117, 117, 117);
    --team-bg-color: rgb(245, 244, 250);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --social-icon-grey: rgb(175, 177, 184);
}
body {
    font-family: var(--main-font);
    color: var(--main-txt-color);
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
*:hover, 
*:focus {
    transition-duration: 250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
}
li {
    list-style: none;
}
button {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    padding: 6px 22px;
    border-style: none;
    border-radius: 4px;
}
button:hover, button:focus, button:active {
    color: var(--white-txt);
    background-color: var(--blue-feature);
}
.header {
    font-weight: 500;
    font-size: 14px; 
}
.border-bottom {
    border-bottom: 1px solid rgb(236, 236, 236); 
}

.link {
    color: var(--main-txt-color);
    text-decoration: none
}
.link:hover, .link:focus, .link:active {
    color: var(--blue-feature);
}
.current-link {
    color: var(--blue-feature);
}
.current-link::after{
    content:"";
    display: block;
    width: 53px;
    height: 4px;
    background-color: var(--secondary-color);
    position: absolute;
    top:45px;
    border-radius: 2px;
    left:2px;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding: 94px 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    }
.contact-icon{
    margin-right: 10px;
    fill:var(--main-grey);
    }
.contact-icon:hover, .contact-icon:focus {
        fill: var(--blue-feature);
    }
/*========Logo==============*/
.logo { 
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.667;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 94px; 
}
.logo-first-color {
    color: var(--blue-feature);
}
.logo-second-color {
    color: var(--main-txt-color);
}
.logo-third-color {
    color: var(--white-txt)
}
/*========Header==============*/
.header .container {
   display: flex;
   justify-content: space-between;
   padding-top: 24px;
   padding-bottom: 25px;
}
.header .logo {
    margin-right:94px;
}
.header .logo-second-color {
    color: var(--main-txt-color);
}
.navigation {
    display: flex;
}
.navigation-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--main-txt-color);
    text-decoration: none;
}
.navigation-link:active {
    color: var(--blue-feature);
}
.navigation-list, .contact-list {
    display: flex;
    align-items: center;
}
.navigation-item:active {
    color: var(--blue-feature);
}
.navigation-item:not(:last-child) {
    margin-right: 46px;
}
.contact-item:not(:last-child) {
    margin-right: 50px;
}
/*========Main==============*/
.index-main .section {
    padding-top: 0;
    padding-bottom: 0;
}
.index-main-first-section {
    background-image:linear-gradient(
        to bottom,
        var(--gradient-color),
        var(--gradient-color)
    ),
    url("../images/index-main-bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.index-main-first-section .container {
    padding-bottom: 200px;
}
.index-main-second-section .container {
    display: flex;
    margin-top: 94px;
    padding-bottom: 0;
}
.index-main-first-header {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-txt);
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    margin-bottom: 30px;
    width: 676px;
    text-align: center;
}
.index-main-button {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--blue-feature);
    color: var(--main-bg-color);
    cursor: pointer;
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}
.index-main-main-txt {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.143px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.index-main-txt-description {
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    width: 270px;
}
.index-main-txt-description:not(last-child) {
    margin-right: 30px;
}
.icon-container {
    width:270px;
    height:120px;
    background-color:var(--team-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

/*========About-Us==============*/
.about-us-list {
    display: flex;
    justify-content: space-between;
}
.about-us {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: center;
}
.thumb {
    position: relative;
    overflow: hidden;
}
.about-us-dark-label{
    width:370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--white-txt);
}

.about-us-label-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--white-txt);
}
/*========Team==============*/
.team-background-color {
    background-color:var(--team-bg-color);
}
.team .team-list {
    display: flex;
}
.team .team-item:not(last-child){
    margin-right: 30px;
}

.team-headline {
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
} 
.team-list-wrapper, .employee-job {
    text-align: center;
    padding-bottom: 30px;
}
.team-list-wrapper {
    background-color:var(--main-bg-color);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.12), 0px 1px 1px rgba(0,0,0,0.14), 0px 2px 1px rgba(0,0,0,0.2);
    border-radius: 0px 0px 4px 4px;
}
.employee-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 30px;
}
.employee-job {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    margin-top: 10px;
}
/*========Clients=======*/
.clients-container {
    width:170px;
    height:92px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--social-icon-grey);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients-container:hover, .clients-container:focus {
    border-color: var(--blue-feature);
}
.clients-headline {
    font-size: 36px;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
} 
.clients-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}
.clients-logo {
    fill: rgb(175, 177, 184);
}
.clients-logo:hover, .clients-logo:focus {
    fill: var(--blue-feature);
}

/*========Social-icons==============*/
.social-icons-list {
    display: flex;
}
.social-icon-link {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.social-icon-link:focus, .social-icon-link:hover {
    background-color: var(--blue-feature);
}
.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--social-icon-grey);

}
.social-icon:hover, .social-icon:focus {
    fill: var(--white-txt);
}
.social-icon:hover, .social-icon:focus, .social-icon-link:hover, .social-icon-link:focus {
    background-color: var(--blue-feature);
    fill: var(--white-txt);
}
/*========Portfolio=======*/
/*========Portfolio-Filter-Buttons=======*/
.portfolio-filter-buttons-list {
    display: flex;
    margin-left: 295px;
    margin-top: 6px;
}
.filter-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
}
.filter-button:hover, .filter-button:focus{
    background-color: var(--blue-feature);
    color: var(--white-txt);
}
/*========Offer==============*/
.portfolio-offer-item{
    margin-bottom: 30px;
}
.portfolio-offer-item-border{
    margin-top: -4px;
    border: 1px solid rgb(238, 238, 238);
}
.portfolio-offer-list{
    display: flex;
    flex-wrap:wrap;
    margin-top:-138px;
    padding:0;
}
.portfolio-offer-item:not(:nth-child(3n)){
    margin-right: 30px;
}
.portfolio-offer-main-txt{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
padding-top: 20px;
padding-bottom: 4px;
padding-left: 24px;
}
.portfolio-offer-description{
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color:var(--main-grey);
padding-left: 24px;
padding-bottom: 20px;
}
.img-box {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: var(--blue-feature);
    color: var(--white-txt);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.03em;
    padding-top: 49px;
    padding-left: 24px;
    padding-right: 45px;
    padding-bottom: 49px;
    transform: translatey(100%);
    transition: transform 250ms ease;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1)
  }
.box:hover , .box:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.box:hover .overlay {
    transform: translatex(0);
}
/*========Footer==============*/
.footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    color: var(--white-txt);
}
.footer-container {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    margin-left: 215px;
}
.footer-h3 {
    font-size: 14px;
    font-weight: 700;
}
.footer-contact {
    font-style: normal;
    font-size: 14px; 
    line-height: 1.714;
    letter-spacing: 0.03em;
    text-decoration: none;  
}
.footer-mail {
    text-decoration-line: underline;
}
.footer-contact-item:not(:first-child) {
    margin-top: 9px;
}
.footer-contact-item:first-child {
    margin-top: 20px;
}
.footer-txt-contact-color {
    color: var(--footer-txt-contact);
}
.footer .social-link {
    background-color: rgba(255, 255, 255, 0.1);
}
.footer .social-link:hover .footer-social-link:focus {
    background-color: var(--blue-feature);
}
.footer .social-link:hover,
.footer .social-link:focus
{
    background-color: var(--blue-feature);
}
.footer .social-icon{
    fill:var(--white-txt);
}
.footer-social-list{
    display: flex;
    justify-content: space-evenly;
}
.footer-social{
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
}
.portfolio-footer-mail {
    text-decoration-line: underline;
}
.footer-form .third-header{
    margin-left: 78px;
    padding-top: 12px;
}

.footer-imput{
    margin-left: 78px;
    width: 358px;
    height:50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--footer-bg-color);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
}

.footer-wrapper{
    display: flex;
}

.footer-wrapper .modal-button{
    margin-left: 12px;
    margin-top: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-txt);
    padding-left: 42px;
}

.footer-form-icon{
    margin-left: 24px;
}
/*======== BACKDROP ========*/

.backdrop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.is-hidden .modal{
     transform: translate(-200%,-200%);
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--white-txt);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 528px;
    height: 581px;
    transition: transform 1s ease-out;
}
.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white-txt);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.close-modal-btn{
    position:absolute;
    left:9px;
    top:9px;
}
.modal-header{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 40px;
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-input{
    width:448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-wrapper{
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.modal-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--main-grey);
    margin-bottom: 4px;
    margin-left: 40px;
    margin-top: 10px;
}
.modal-label:first-child{
    margin-top: 12px;
}
.modal-message{
    width:448px;
    margin-right: auto;
    margin-left: auto;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon{
    position: absolute;
    top: 14px;
    left: 15px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus{
    outline:none;
    border-color: var(--blue-feature);
}
.modal-input:focus + .modal-icon{
    fill:var(--blue-feature);
}
.modal-message:focus{
    outline:none;
    border-color: var(--blue-feature);
}
.user-policy-message::before{
    display: inline-block;
    content: "";
    height:15px;
    width: 16px;
    border: 3px solid;
    border-radius: 3px;
    border-color:var(--main-font);
}
.user-policy-message{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--main-grey);
    width: 420px;
    margin-left: 54px;
    margin-top: 20px;
}
.modal-policy:checked + .user-policy-message::before{
background-color: var(--blue-feature);
border:none;
background-repeat: no-repeat;
background-position: center;
background-image: url("../images/icon-check.svg");
}
 .modal-button{
    display: block;
    background-color: var(--blue-feature);
    width:200px;
    height:50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color:var(--white-txt);
    border: none;
    padding:0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.modal-link{
    color:var(--blue-feature);
}